.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.logo {
  font-size: 3rem;
}
.inputContainer {
  position: relative;
}

.inputContainer > input {
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.2rem;
  background-color: #d1d1d1;
  padding: 1rem;
  padding-left: 2.5rem;
}

.icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.2rem;
}
