.container {
  position: relative;
  padding: 5rem 3rem;
  width: 18vw;
  border-radius: 1rem;
  transition: all 500ms ease;
  cursor: pointer;
  box-shadow: 7px 7px 7px skyblue;
}

.container:hover {
  transform: scale(1.2);
}

.img {
  position: absolute;
  top: -12rem;
  left: 2rem;
  width: 15rem;
  height: 15rem;
}

.img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content h2 {
  color: white;
}

.content p {
  color: white;
}
