.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.wrapper {
  max-width: 50vw;
  display: flex;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
}

.icon {
  font-size: 1.2rem;
  position: absolute;
  color: red;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.grade {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grade p {
  width: max-content;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  transition: all 500ms ease;

  z-index: 999;
}

.grade p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background-color: var(--primary-color);
  transition: all 500ms ease;
  z-index: -1;
}

.grade p:hover::before {
  width: 100%;
}

.grade p:hover {
  color: white;
}

.details {
  flex: 3;
}

.details h1 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}
