.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: white;
}

.items{
    display: flex;
    margin-top: 5rem;
    gap: 1rem;
}

.item{
    flex: 1;
}


@media screen and (max-width: 1024px) {
    .items{
        flex-direction: column;
    }
  }
